.body {
  margin: auto;
  width: 75%;
  padding-top: 3%;
}

/* index.html grid */
#photos {
  line-height: 0;
  -webkit-columns: 5 100px;
  -webkit-column-gap:   0px;
  -moz-columns:    5 100px;
  -moz-column-gap:      0px;
  columns:         5 100px;
  column-gap:           0px;
}

#photos img {
  width: 100%;
  height: auto;
  padding: 5%;
}

/* visual splash page */
#projects {
  margin-left: 25%;
  margin-right: 25%;
  display: inline-block;
}

#projects img {
  width: 100%;
  max-width: 750px;
  height: auto;
}
/* nav list */
nav {
  text-align: center;
}

.header {
  text-align: center;
}
ul {
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding-top: 0;
  overflow: hidden;
}

li {
  text-align: center;
  display: inline-block;
}

li a {
  padding: 14px 16px;
  text-decoration: none;
}
